<%= search_form_for @search, :url => quote_path(@quote) do |f| %>
 <div class="row">
   <div class="span1 offset1">
  <% if @quote.use_cases.extra.any? %>
    <%= f.label "Extra" %>
    <%= f.check_box :is_extra_true %>
  <% end %>

  <% if @quote.use_cases.base.any? %>
    <%= f.label "Base" %>
    <%= f.check_box :is_extra_false %>
  <% end %>


  <% if @quote.use_cases.feature.any? %>
    <%= f.label "Feature" %>
    <%= f.check_box :is_feature_true %>
  <% end %>

  <% if @quote.use_cases.configure.any? %>
    <%= f.label "Configure" %>
    <%= f.check_box :is_feature_false %>
  <% end %>

    <%= f.submit "search" %>

   </div>
 </div>

<% end %>

