<h1>Cotizaciones abiertas</h1>
<%= link_to new_quote_path ,:class => "btn btn-success", :style => "float:right;", "href"=>"#newQuoteModal", "role"=>"button", "data-toggle"=>"modal" do %>
    <i class="icon-plus icon-white"></i> Nueva cotización
<% end %>
<br />
<br />
<table id="quotes_list" class="table table-hover table-bordered table-condensed">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Cost per hour</th>
            <th>Hours per day</th>
            <th>Total cost</th>
            <th>Status</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <% @quotes.each do |quote| %>
        <tr class="clickable" onclick="window.location = '<%=quote_path(quote)%>' ">
            <th ><%= quote.name %></th>
            <td><%= quote.description %></td>
            <td><%= quote.cost_per_hour %></td>
            <td><%= quote.hours_per_day %></td>
            <td><%= quote.total_cost %></td>
            <td><%= quote.status %></td>
            <td><%= link_to  edit_quote_path(quote) do %><i class="icon-edit"></i><% end %></td>
            <td class="alert-error"><%= link_to  quote, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="icon-trash"></i><% end %></td>
        </tr>
    <% end %>
    <% if @quotes.size == 0 %>
        <tr id="no_quotes">
            <td colspan="7">No hay cotizaciones</td>
        </tr>
    <% end %>
</table>
<%= render 'modal' %>
