<% if @quote.use_cases.any? %>
 <div class= "row">

   <%= render 'search_form'  %>


    <label> Exportar: </label>    <%= link_to "CSV", quote_path(@quote, format: "csv") %>
	  <label> Exportar cliente: </label>    <%= link_to "Excel", quote_path(@quote, format: "xlsx") %>



</div>


<% end %>

<div class="well">
    <h1><%= @quote.name %></h1>

    <p class="lead"> <%= @quote.description %> </p>
    <%= link_to new_quote_use_case_path(@quote.id) ,:class => "btn btn-success", :style => "float:right;", "role"=>"button", "data-toggle"=>"modal" do %>
        <i class="icon-plus icon-white"></i> Nuevo Caso de Uso
    <% end %>
    <br />
    <br />
<!--!    <p>
      <button class="btn btn-success" onclick="">Notificar Cliente</button>
      </p>
      -->

    <table class="table table-hover table-bordered table-condensed">
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Design time</th>
            <th>Programming time</th>
            <th>Importancia</th>
            <th>Tipo</th>
            <th></th>
            <th></th>
        </tr>

        <% @use_cases.each do |use_case| %>
            <tr>
                <td><%= link_to  use_case.name , quote_use_case_path(use_case.quote.id,use_case.id) %></td>
                <td><%= use_case.description %></td>
                <td><%= use_case.design_time %></td>
                <td><%= use_case.programming_time %></td>
                <td>
                  <% if use_case.is_extra == true %>
                    <%= "Extra" %>
                  <% else %>
                    <%= "Base"  %>
                  <% end %>
                </td>
                <td>
                  <% if use_case.is_feature == true %>
                     <%= "Funcionalidad"  %>
                   <% else %>
                     <%= "Configuración"  %>
                   <% end %>
                </td>
                <td><%= link_to  edit_quote_use_case_path(use_case.quote.id,use_case.id) do %><i class="icon-edit"></i><% end %></td>
                <td><%= link_to 'Destroy', quote_use_case_path(use_case.quote.id,use_case.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </table>
    <div class="offset7">
        <table class="table table-bordered table-condensed">
            <tbody>
                <tr>
                    <th>Horas por día</th>
                    <td><%= @quote.hours_per_day %></td>
                </tr>
                <tr>
                    <th>Costo por hora</th>
                    <td>$<%= @quote.cost_per_hour %></td>
                </tr>
                <tr>
                    <th>Total de horas:</th>
                    <td>$<%= @quote.total_hours %></td>
                </tr>
                <tr>
                    <th>Costo total:</th>
                    <td>$<%= @quote.total_cost %></td>
                </tr>
            </tbody>
        </table>
    </div>




    <%= link_to 'Edit', edit_quote_path(@quote) %> |
    <%= link_to 'Back', quotes_path %>
</div>
