<%= form_for([@quote,@use_case]) do |f| %>
  <% if @use_case.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@use_case.errors.count, "error") %> prohibited this use_case from being saved:</h2>

      <ul>
      <% @use_case.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><%= f.text_field :name %><br />
  </div>

  <div class="field">
    <%= f.label :description %><%= f.text_area :description %><br />
  </div>

  <div class="field">
    <%= f.label :design_time %><%= f.text_field :design_time %>
  </div>

  <div class="field">
    <%= f.label :programming_time %><%= f.text_field :programming_time %><br />
  </div>

  <div class="field">
    <%= f.label :is_extra %> <%= check_box("use_case", "is_extra") %>
  </div>

  <div class="field">
      <%= f.label :is_feature %><%= check_box("use_case", "is_feature") %>
    </div>

    <div class="field">
      <%= f.label :userType  %><%= f.text_field :userType %><br />
    </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
